<div class="months-toolbar">
    <div>
        <button class="btn btn-outline-success">
            Add Next Month
        </button>
        <button class="btn btn-outline-success">
            <span class="me-1">Add Month</span>
            <i class="bx bxs-right-arrow"></i>
        </button>
        <form class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Year">
                
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Month">
                
            </div>
        </form>
        <button class="btn btn-outline-danger">
            <i class="bx bxs-left-arrow"></i>
            <span class="ms-1">Delete Month</span>
        </button>
    </div>
</div>
<app-month></app-month>